In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. 데이터 가져오기

In [2]:
t_pit16=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv",encoding='utf-8',engine='python')
t_pit17=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv",encoding='utf-8',engine='python')
t_pit18=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv",encoding='utf-8',engine='python')
t_pit19=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv",encoding='utf-8',engine='python')

In [3]:
t_bat16=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv",encoding='utf-8',engine='python')
t_bat17=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv",encoding='utf-8',engine='python')
t_bat18=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv",encoding='utf-8',engine='python')
t_bat19=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv",encoding='utf-8',engine='python')

In [4]:
p_pit16=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv",encoding='utf-8',engine='python')
p_pit17=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2017.csv",encoding='utf-8',engine='python')
p_pit18=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2018.csv",encoding='utf-8',engine='python')
p_pit19=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2019.csv",encoding='utf-8',engine='python')

In [5]:
#모든 열 다 출력하기
pd.options.display.max_columns=None

## 2. 변수 생성

In [6]:
team=['HH', 'HT', 'KT', 'LG', 'LT', 'NC', 'OB', 'SK', 'SS', 'WO']

In [21]:
#1루타 변수 만들기
t_pit16['H1']=t_pit16['HIT']-t_pit16['H2']-t_pit16['H3']-t_pit16['HR']
t_pit17['H1']=t_pit17['HIT']-t_pit17['H2']-t_pit17['H3']-t_pit17['HR']
t_pit18['H1']=t_pit18['HIT']-t_pit18['H2']-t_pit18['H3']-t_pit18['HR']
t_pit19['H1']=t_pit19['HIT']-t_pit19['H2']-t_pit19['H3']-t_pit19['HR']

In [27]:
pd.set_option('mode.chained_assignment',None) #chain copy warning 제거하기

#승률 변수만들기(이긴 경기, 진 경기 합치기)
def make_win_lose(data):
    data['W']=0; data['L']=0
    data['W'][data['WLS']=='W']=1
    data['L'][data['WLS']=='L']=1
    return data

In [28]:
data_list=[t_pit16,t_pit17,t_pit18,t_pit19]
for data in data_list:
    data=make_win_lose(data)

### 선발기록 만들기

In [12]:
t_pit_list=[t_pit16,t_pit17,t_pit18,t_pit19] #팀투수 데이터 리스트
p_pit_list=[p_pit16,p_pit17,p_pit18,p_pit19] #개인투수 데이터 리스트
var=['T_ID','P_ID','ER','INN2','AB','HIT','HR']  #필요한 개인투수 변수리스트

def game40(year):
    t_pit=t_pit_list[year-2016][['G_ID','T_ID']]  #팀별 경기를 뽑아내기 위함
    p_pit=p_pit_list[year-2016]       #필요한 개인투수 데이터셋

    game_list=[pd.DataFrame() for var in range(1,6)] #40경기씩 묶일 데이터셋
    data_list=[pd.DataFrame() for var in range(1,6)] #40경기씩 묶일 데이터셋
        
    data=pd.DataFrame()  #빈 데이터프레임 만들기

    for i in range(5):
        game40=game_list[i] #팀별 40경기 G_ID가 들어있는 데이터셋
        data40=data_list[i] #팀별 40경기씩 넣을 개인투수 데이터셋
        
        for t in team:
            game40=t_pit[t_pit['T_ID']==t][4+i*20:44+i*20]
            data40=pd.concat([data40,p_pit[p_pit['G_ID'].isin(game40['G_ID'])][p_pit['T_ID']==t]])
        data40=data40[data40['START_CK']==1].filter(var)                                #선발 뽑기
        data40=data40.groupby(['T_ID','P_ID']).sum()                                    #선수별로 묶기
        data40=data40.sort_values(by='INN2', ascending=False).groupby('T_ID').head(5)  #이닝수가 많은 5명 뽑기
        data40=data40.groupby(['T_ID']).sum()                                           #팀별로 묶기
        
        #변수 만들기
        data40['ERA']=data40['ER']*27/data40['INN2']        #선발ERA 변수 만들기
        data40['HIT_RATE']=data40['HIT']/data40['AB']       #피안타율 변수 만들기
        data40['HR_RATE']=data40['HR']/data40['AB']         #피홈런율 변수 만들기
        
        data40=data40.drop(['INN2','HIT','AB','HR','ER'],axis='columns')  #변수 삭제
        data40=data40.add_prefix('START_')                                #변수명 앞에 START 붙이기

        #데이터 합치기
        if i <4:
            data=pd.concat([data,data40])  #40경기의 데이터 이어붙이기
        else:
            test_data=data40
            
    return data, test_data

In [13]:
st_train16,st_test16=game40(2016)
st_train17,st_test17=game40(2017)
st_train18,st_test18=game40(2018)
st_train19,st_test19=game40(2019)

C:\Users\a\Anaconda3\lib\site-packages\ipykernel\__main__.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

### 상대팀 변수 만들기

In [9]:
var_b=['VS_T_ID','HIT','H2','H3','HR','BB','HP','AB','SF']

In [10]:
#상대팀 변수 만드는 함수
t_bat=[t_bat16,t_bat17,t_bat18,t_bat19]
def vs_data(year):
    a=t_bat[year-2016].filter(var_b)
    data=pd.DataFrame()  #빈 데이터프레임 만들기

    data_list=[pd.DataFrame() for var in range(1,6)]    #40경기씩 묶일 데이터셋
    
    for i in range(5):
        vs_data=data_list[i]
        for t in team:
            vs_data=pd.concat([vs_data,a[a['VS_T_ID']==t][4+i*20:44+i*20]])      #팀별로 앞 4경기 제외
        vs_data=vs_data.groupby(['VS_T_ID']).sum()
        
        vs_data['H1']=vs_data['HIT']-vs_data['H2']-vs_data['H3']-vs_data['HR']  #H1변수 만들기
        vs_data['SLG']=(vs_data['H1']+vs_data['H2']*2+vs_data['H3']*3+vs_data['HR']*4)/vs_data['AB']  #SLG변수 만들기
        vs_data['real_SLG']=vs_data['SLG']-(vs_data['HIT']/vs_data['AB'])       #real_SLG변수 만들기
        vs_data['OBP']=(vs_data['HIT']+vs_data['BB']+vs_data['HP'])/(vs_data['AB']+vs_data['BB']+vs_data['HP']+vs_data['SF']) #OBP변수 만들기
        
        #변수 지우기
        vs_data=vs_data.drop(['HIT','H1','H2','H3','HR','SLG','BB','HP','AB','SF'],axis='columns')
        vs_data=vs_data.add_prefix('VS_')                                #변수명 앞에 START 붙이기

        if i <4:
            data=pd.concat([data,vs_data])
        else:
            test_data=vs_data
            
    return data,test_data

In [11]:
vs_train16,vs_test16=vs_data(2016)
vs_train17,vs_test17=vs_data(2017)
vs_train18,vs_test18=vs_data(2018)
vs_train19,vs_test19=vs_data(2019)

## 3. train test 셋 만들기

In [36]:
var_t=['T_ID','HOLD','BF','PA','AB','HIT','H2','H3','HR','R','ER','P_WHIP_RT','CB_WHIP_RT','INN2','H1','W','L']
t16=t_pit16.filter(var_t)
t17=t_pit17.filter(var_t)
t18=t_pit18.filter(var_t)
t19=t_pit19.filter(var_t)

In [39]:
#정답 셋과 train 셋 만드는 함수
t_pit=[t16,t17,t18,t19]
def make_answer_train(year):
    a=t_pit[year-2016]  
    data=pd.DataFrame()  #빈 데이터프레임 만들기

    answer=[pd.DataFrame() for var in range(1,6)]     #20경기씩 묶일 데이터셋
        
    for i in range(5):
        ans=answer[i]
        for t in team:
            ans=pd.concat([ans,a[a['T_ID']==t][4+40+i*20:4+60+i*20]])

        #팀별 AB,HIT합 구하기
        ans=ans.groupby(['T_ID']).sum()
        ans['ERA']=ans['ER']*27/ans['INN2']     #방어율 계산
        ans=ans.drop(ans.columns[list(range(16))],axis='columns')
                
        if i <4:
            data=pd.concat([data,ans])
        else:
            test_data=ans
            
    return data,test_data

In [40]:
train16,test16=make_answer_train(2016)
train17,test17=make_answer_train(2017)
train18,test18=make_answer_train(2018)
train19,test19=make_answer_train(2019)

In [42]:
#선발 데이터와 합치기
train16=pd.concat([st_train16,train16],axis=1)
train17=pd.concat([st_train17,train17],axis=1)
train18=pd.concat([st_train18,train18],axis=1)
train19=pd.concat([st_train19,train19],axis=1)

test16=pd.concat([st_test16,test16],axis=1)
test17=pd.concat([st_test17,test17],axis=1)
test18=pd.concat([st_test18,test18],axis=1)
test19=pd.concat([st_test19,test19],axis=1)

In [43]:
#상대팀 데이터와 합치기
train16=pd.concat([vs_train16,train16],axis=1)
train17=pd.concat([vs_train17,train17],axis=1)
train18=pd.concat([vs_train18,train18],axis=1)
train19=pd.concat([vs_train19,train19],axis=1)

test16=pd.concat([vs_test16,test16],axis=1)
test17=pd.concat([vs_test17,test17],axis=1)
test18=pd.concat([vs_test18,test18],axis=1)
test19=pd.concat([vs_test19,test19],axis=1)

In [44]:
#4개년 합친 데이터
train678_9=pd.concat([train16,test16,train17,test17,train18,test18,train19])
train679_8=pd.concat([train16,test16,train17,test17,train19,test19,train18])
train689_7=pd.concat([train16,test16,train18,test18,train19,test19,train17])
train789_6=pd.concat([train17,test17,train18,test18,train19,test19,train16])

In [63]:
test18

    VS_real_SLG    VS_OBP  START_ERA  START_HIT_RATE  START_HR_RATE       ERA
HH     0.166424  0.345981   5.769710        0.284579       0.041335  5.811429
HT     0.189776  0.372020   6.314917        0.318302       0.050398  5.591418
KT     0.174451  0.372829   4.861736        0.307329       0.036643  5.548624
LG     0.162693  0.370093   6.643979        0.314176       0.034483  5.778409
LT     0.187807  0.360451   6.147110        0.304627       0.042416  4.776536
NC     0.182151  0.358001   4.627119        0.278020       0.040757  6.593023
OB     0.168914  0.365130   5.390543        0.298153       0.031662  4.458256
SK     0.174161  0.350955   4.153846        0.271482       0.038605  5.471591
SS     0.148620  0.348955   5.417062        0.296163       0.039568  4.927374
WO     0.158374  0.356467   4.407353        0.283499       0.035437  5.288136

## 3. 모델학습

In [50]:
# 모델 모듈
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

stats=['START_SB', 'START_SF', 'START_ERR', 'START_R', 'START_ERA',
       'START_HIT_RATE', 'START_HR_RATE', 'HOLD', 'BF', 'PA', 'R',
       'ER', 'P_WHIP_RT', 'CB_WHIP_RT', 'INN', 'SLG','HIT_RATE' 'WINNING_RATE']

In [46]:
stats=['VS_real_SLG','VS_OBP','START_ERA','START_HIT_RATE', 'START_HR_RATE']

In [47]:
X_cols=stats
Y_col=['ERA']

### 랜덤포레스트 돌려보기

In [48]:
train_list=[train16,train17,train18,train19]
train4_list=[train789_6,train689_7,train679_8,train678_9]
test_list=[test16,test17,test18,test19]

In [62]:
#4개년 랜포 돌려보기
result=[]
for i in range(4):
    train=train4_list[i];  test=test_list[i]
    X_train = train[X_cols]; Y_train = train[Y_col]
    X_test = test[X_cols]; Y_test = test[Y_col]

    model = RandomForestRegressor() 
    Y_train=Y_train.values.ravel()  #rf에서의 오류 없애기 위함
    model.fit(X_train, Y_train) 
    Y_predict = model.predict(X_test)

    r2=r2_score(Y_test, Y_predict)

    result.append(Y_test.assign(predict=Y_predict))
    result[i]['diff']=result[i]['ERA']-result[i]['predict']
    print(i+2016,">\tr2 :", r2,'\ttrain점수 :{:.3f}'.format(model.score(X_train,Y_train)),"\t차이합 :",abs(result[i]['diff']).sum())

2016 >	r2 : -0.004005780811206172 	train점수 :0.877 	차이합 : 6.891070330555326
2017 >	r2 : 0.15066547001933916 	train점수 :0.881 	차이합 : 6.196663377030461
2018 >	r2 : -0.4883697700089924 	train점수 :0.879 	차이합 : 6.043767358874854
2019 >	r2 : -2.5470125961151675 	train점수 :0.879 	차이합 : 10.943147985781822

In [ ]:
train19.corr()['ERA']

### 예측값과 실제값 차이

In [ ]:
# 예측값과 실제값의 시각화
plt.scatter(Y_test, Y_predict)
plt.xlabel("실제 값")
plt.ylabel("예측 값")

In [64]:
print('2016 >',abs(result[0]['diff']).sum())
result[0]

2016 > 6.891070330555326

         ERA   predict      diff
HH  5.340659  4.387841  0.952818
HT  3.996205  4.848063 -0.851858
KT  6.398844  4.715709  1.683135
LG  3.786885  4.162519 -0.375634
LT  5.851711  5.409228  0.442483
NC  3.717391  5.033142 -1.315751
OB  4.508443  4.556445 -0.048002
SK  4.835821  5.453430 -0.617609
SS  5.259740  5.390629 -0.130889
WO  5.115234  5.588125 -0.472891

In [65]:
print('2017 >',abs(result[1]['diff']).sum())
result[1]

2017 > 6.196663377030461

         ERA   predict      diff
HH  4.950000  4.788148  0.161852
HT  4.608534  4.764451 -0.155916
KT  5.612360  5.300910  0.311449
LG  5.094340  4.856718  0.237622
LT  3.762712  5.040069 -1.277357
NC  6.178378  5.521230  0.657148
OB  4.297753  4.025201  0.272552
SK  4.834286  5.487345 -0.653059
SS  6.257299  5.254071  1.003228
WO  6.337786  4.871306  1.466480

In [66]:
print('2018 >',abs(result[2]['diff']).sum())
result[2]

2018 > 6.043767358874854

         ERA   predict      diff
HH  5.811429  5.163619  0.647810
HT  5.591418  5.944472 -0.353054
KT  5.548624  5.674203 -0.125580
LG  5.778409  4.747435  1.030974
LT  4.776536  5.557233 -0.780697
NC  6.593023  5.477387  1.115636
OB  4.458256  5.336658 -0.878402
SK  5.471591  4.688478  0.783113
SS  4.927374  4.803755  0.123619
WO  5.288136  5.493019 -0.204883

In [67]:
print('2019 >',abs(result[3]['diff']).sum())
result[3]

2019 > 10.943147985781822

         ERA   predict      diff
HH  3.262082  5.020867 -1.758786
HT  4.000000  4.029225 -0.029225
KT  3.254237  4.264306 -1.010068
LG  2.943609  5.490658 -2.547049
LT  3.568966  4.602575 -1.033609
NC  2.927103  3.791151 -0.864049
OB  3.405850  3.794245 -0.388395
SK  3.806391  3.434806  0.371585
SS  4.680000  5.731751 -1.051751
WO  1.902857  3.791488 -1.888631