In [1]:
import pandas as pd

In [2]:
t_bat19=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv",encoding='utf-8',engine='python')

1. 각 팀별로 마지막 20경기씩 뽑아서 밑으로 이어붙이기

2. 팀별로 AB, HIT 합 구하기

3. 팀별 타율 구하기

In [44]:
a=t_bat19[['T_ID','AB','HIT']]
team=['HH', 'HT', 'KT', 'LG', 'LT', 'NC', 'OB', 'SK', 'SS', 'WO']

#각 팀별로 마지막 20경기씩 뽑아서 밑으로 이어붙이기
data=pd.DataFrame(columns=['T_ID','AB','HIT'])
for t in team:
    data=pd.concat([data,a[a['T_ID']==t][-20:]])

#팀별 AB,HIT합 구하기
data=data.groupby(['T_ID']).sum()
data['HIT_RATE']=data['HIT']/data['AB'] #타율 계산
data

       AB  HIT  HIT_RATE
T_ID
HH    686  183  0.266764
HT    667  169  0.253373
KT    672  183  0.272321
LG    668  172  0.257485
LT    661  146  0.220877
NC    687  189  0.275109
OB    710  200  0.281690
SK    655  157  0.239695
SS    655  152  0.232061
WO    676  170  0.251479