In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. 데이터 가져오기

In [12]:
t_pit16=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv",encoding='utf-8',engine='python')
t_pit17=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv",encoding='utf-8',engine='python')
t_pit18=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv",encoding='utf-8',engine='python')
t_pit19=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv",encoding='utf-8',engine='python')

In [26]:
t_bat16=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv",encoding='utf-8',engine='python')
t_bat17=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv",encoding='utf-8',engine='python')
t_bat18=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv",encoding='utf-8',engine='python')
t_bat19=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv",encoding='utf-8',engine='python')

In [13]:
p_pit16=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv",encoding='utf-8',engine='python')
p_pit17=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2017.csv",encoding='utf-8',engine='python')
p_pit18=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2018.csv",encoding='utf-8',engine='python')
p_pit19=pd.read_csv("C:/Users/a/Desktop/2020빅콘/제공데이터/제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2019.csv",encoding='utf-8',engine='python')

In [14]:
#모든 열 다 출력하기
pd.options.display.max_columns=None

## 2. 변수 생성

In [15]:
team=['HH', 'HT', 'KT', 'LG', 'LT', 'NC', 'OB', 'SK', 'SS', 'WO']

In [16]:
#이닝수 변수 만들기
t_pit16['INN']=t_pit16['INN2']/3
t_pit17['INN']=t_pit17['INN2']/3
t_pit18['INN']=t_pit18['INN2']/3
t_pit19['INN']=t_pit19['INN2']/3

In [17]:
#1루타 변수 만들기
t_pit16['H1']=t_pit16['HIT']-t_pit16['H2']-t_pit16['H3']-t_pit16['HR']
t_pit17['H1']=t_pit17['HIT']-t_pit17['H2']-t_pit17['H3']-t_pit17['HR']
t_pit18['H1']=t_pit18['HIT']-t_pit18['H2']-t_pit18['H3']-t_pit18['HR']
t_pit19['H1']=t_pit19['HIT']-t_pit19['H2']-t_pit19['H3']-t_pit19['HR']

In [18]:
pd.set_option('mode.chained_assignment',None) #chain copy warning 제거하기

#승률 변수만들기(이긴 경기, 진 경기 합치기)
def make_win_lose(data):
    data['W']=0; data['L']=0
    data['W'][data['WLS']=='W']=1
    data['L'][data['WLS']=='L']=1
    return data

In [19]:
data_list=[t_pit16,t_pit17,t_pit18,t_pit19]
for data in data_list:
    data=make_win_lose(data)

### 선발기록 만들기

In [20]:
t_pit_list=[t_pit16,t_pit17,t_pit18,t_pit19] #팀투수 데이터 리스트
p_pit_list=[p_pit16,p_pit17,p_pit18,p_pit19] #개인투수 데이터 리스트
var=['T_ID','P_ID','SB','SF','ERR','R','ER','INN2','AB','HIT','HR']  #필요한 개인투수 변수리스트

def game40(year):
    t_pit=t_pit_list[year-2016][['G_ID','T_ID']]  #팀별 경기를 뽑아내기 위함
    p_pit=p_pit_list[year-2016]       #필요한 개인투수 데이터셋

    game_list=[pd.DataFrame() for var in range(1,6)] #40경기씩 묶일 데이터셋
    data_list=[pd.DataFrame() for var in range(1,6)] #40경기씩 묶일 데이터셋
        
    data=pd.DataFrame()  #빈 데이터프레임 만들기

    for i in range(5):
        game40=game_list[i] #팀별 40경기 G_ID가 들어있는 데이터셋
        data40=data_list[i] #팀별 40경기씩 넣을 개인투수 데이터셋
        
        for t in team:
            game40=t_pit[t_pit['T_ID']==t][4+i*20:44+i*20]
            data40=pd.concat([data40,p_pit[p_pit['G_ID'].isin(game40['G_ID'])][p_pit['T_ID']==t]])
        data40=data40[data40['START_CK']==1].filter(var)                                #선발 뽑기
        data40=data40.groupby(['T_ID','P_ID']).sum()                                    #선수별로 묶기
        data40=data40.sort_values(by='INN2', ascending=False).groupby('T_ID').head(5)  #이닝수가 많은 5명 뽑기
        data40=data40.groupby(['T_ID']).sum()                                           #팀별로 묶기
        
        #변수 만들기
        data40['ERA']=data40['ER']*27/data40['INN2']        #선발ERA 변수 만들기
        data40['HIT_RATE']=data40['HIT']/data40['AB']       #피안타율 변수 만들기
        data40['HR_RATE']=data40['HR']/data40['AB']         #피홈런율 변수 만들기
        
        data40=data40.drop(['INN2','HIT','AB','HR','ER'],axis='columns')  #변수 삭제
        data40=data40.add_prefix('START_')                                #변수명 앞에 START 붙이기

        #데이터 합치기
        if i <4:
            data=pd.concat([data,data40])  #40경기의 데이터 이어붙이기
        else:
            test_data=data40
            
    return data, test_data

In [21]:
st_train16,st_test16=game40(2016)
st_train17,st_test17=game40(2017)
st_train18,st_test18=game40(2018)
st_train19,st_test19=game40(2019)

C:\Users\a\Anaconda3\lib\site-packages\ipykernel\__main__.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

### 상대팀 변수 만들기

In [33]:
var_b=['VS_T_ID','HIT','H2','H3','HR','BB','HP','AB','SF']

In [39]:
#상대팀 변수 만드는 함수
t_bat=[t_bat16,t_bat17,t_bat18,t_bat19]
def vs_data(year):
    a=t_bat[year-2016].filter(var_b)
    data=pd.DataFrame()  #빈 데이터프레임 만들기

    data_list=[pd.DataFrame() for var in range(1,6)]    #40경기씩 묶일 데이터셋
    
    for i in range(5):
        vs_data=data_list[i]
        for t in team:
            vs_data=pd.concat([vs_data,a[a['VS_T_ID']==t][4+i*20:44+i*20]])      #팀별로 앞 4경기 제외
        vs_data=vs_data.groupby(['VS_T_ID']).sum()
        
        vs_data['H1']=vs_data['HIT']-vs_data['H2']-vs_data['H3']-vs_data['HR']  #H1변수 만들기
        vs_data['SLG']=(vs_data['H1']+vs_data['H2']*2+vs_data['H3']*3+vs_data['HR']*4)/vs_data['AB']  #SLG변수 만들기
        vs_data['real_SLG']=vs_data['SLG']-(vs_data['HIT']/vs_data['AB'])       #real_SLG변수 만들기
        vs_data['OBP']=(vs_data['HIT']+vs_data['BB']+vs_data['HP'])/(vs_data['AB']+vs_data['BB']+vs_data['HP']+vs_data['SF']) #OBP변수 만들기
        
        #변수 지우기
        vs_data=vs_data.drop(['HIT','H1','H2','H3','HR','SLG','BB','HP','AB','SF'],axis='columns')
        vs_data=vs_data.add_prefix('VS_')                                #변수명 앞에 START 붙이기

        if i <4:
            data=pd.concat([data,vs_data])
        else:
            test_data=vs_data
            
    return data,test_data

In [41]:
vs_train16,vs_test16=vs_data(2016)
vs_train17,vs_test17=vs_data(2017)
vs_train18,vs_test18=vs_data(2018)
vs_train19,vs_test19=vs_data(2019)

## 3. train test 셋 만들기

In [22]:
var_t=['T_ID','HOLD','BF','PA','AB','HIT','H2','H3','HR','R','ER','P_WHIP_RT','CB_WHIP_RT','INN','H1','W','L']
t16=t_pit16.filter(var_t)
t17=t_pit17.filter(var_t)
t18=t_pit18.filter(var_t)
t19=t_pit19.filter(var_t)

In [27]:
#정답 셋과 train 셋 만드는 함수
t_pit=[t16,t17,t18,t19]
def make_answer_train(year):
    a=t_pit[year-2016]  
    data=pd.DataFrame()  #빈 데이터프레임 만들기

    train_data=[pd.DataFrame() for var in range(1,6)] #40경기씩 묶일 데이터셋
    answer=[pd.DataFrame() for var in range(1,6)]     #20경기씩 묶일 데이터셋
        
    for i in range(5):
        tra=train_data[i]
        ans=answer[i]
        for t in team:
            tra=pd.concat([tra,a[a['T_ID']==t][4+i*20:4+40+i*20]])      #팀별로 앞 4경기 제외
            ans=pd.concat([ans,a[a['T_ID']==t][4+40+i*20:4+60+i*20]])
        
        tra=tra.groupby(['T_ID']).sum()
        #SLG변수 만들기
        tra['SLG']=(tra['H1']+tra['H2']*2+tra['H3']*3+tra['HR']*4)/tra['AB']
        tra=tra.drop(['H1','H2','H3','HR'],axis='columns')
        
        #승률 변수 만들기
        tra['WINNING_RATE']=tra['W']/(tra['W']+tra['L'])
        tra=tra.drop(['W','L'],axis='columns')
        
        #타율 변수 만들기
        tra['HIT_RATE']=tra['HIT']/tra['AB']
        tra=tra.drop(['HIT','AB'],axis='columns')       
        
        #변수 버리기
        tra=tra.drop(['ER'],axis='columns') 

        #팀별 AB,HIT합 구하기
        ans=ans.groupby(['T_ID']).sum()
        ans['ERA']=ans['ER']*9/ans['INN']     #방어율 계산
        ans=ans.drop(ans.columns[list(range(16))],axis='columns')
                
        if i <4:
            data=pd.concat([data,pd.merge(tra,ans,on='T_ID')])
        else:
            test_data=pd.merge(tra,ans,on='T_ID')
            
    return data,test_data

In [28]:
train16,test16=make_answer_train(2016)
train17,test17=make_answer_train(2017)
train18,test18=make_answer_train(2018)
train19,test19=make_answer_train(2019)

In [47]:
#선발 데이터와 합치기
train16=pd.concat([st_train16,train16],axis=1)
train17=pd.concat([st_train17,train17],axis=1)
train18=pd.concat([st_train18,train18],axis=1)
train19=pd.concat([st_train19,train19],axis=1)

test16=pd.concat([st_test16,test16],axis=1)
test17=pd.concat([st_test17,test17],axis=1)
test18=pd.concat([st_test18,test18],axis=1)
test19=pd.concat([st_test19,test19],axis=1)

In [48]:
#상대팀 데이터와 합치기
train16=pd.concat([vs_train16,train16],axis=1)
train17=pd.concat([vs_train17,train17],axis=1)
train18=pd.concat([vs_train18,train18],axis=1)
train19=pd.concat([vs_train19,train19],axis=1)

test16=pd.concat([vs_test16,test16],axis=1)
test17=pd.concat([vs_test17,test17],axis=1)
test18=pd.concat([vs_test18,test18],axis=1)
test19=pd.concat([vs_test19,test19],axis=1)

In [49]:
#4개년 합친 데이터
train678_9=pd.concat([train16,test16,train17,test17,train18,test18,train19])
train679_8=pd.concat([train16,test16,train17,test17,train19,test19,train18])
train689_7=pd.concat([train16,test16,train18,test18,train19,test19,train17])
train789_6=pd.concat([train17,test17,train18,test18,train19,test19,train16])

In [50]:
test19

,VS_real_SLG,VS_OBP,START_SB,START_SF,START_ERR,START_R,START_ERA,START_HIT_RATE,START_HR_RATE,VS_real_SLG,VS_OBP,HOLD,BF,PA,R,P_WHIP_RT,CB_WHIP_RT,INN,SLG,WINNING_RATE,HIT_RATE,ERA
HH,0.140000,0.370347,13,8,3,85,4.404661,0.284330,0.014540,0.140000,0.370347,11,6178,1594,229,68.646691,89.108442,350.000000,0.438571,0.375000,0.298571,3.262082
HT,0.112012,0.330935,17,9,3,96,3.671642,0.245707,0.015852,0.112012,0.330935,21,5952,1536,187,56.100703,64.287446,354.666667,0.372881,0.487179,0.260870,4.000000
KT,0.130340,0.324360,17,5,1,104,4.099693,0.268639,0.027219,0.130340,0.324360,24,5697,1534,164,51.916575,64.135606,357.333333,0.393193,0.589744,0.262853,3.254237
LG,0.133916,0.360845,26,8,2,101,4.557798,0.277856,0.025388,0.133916,0.360845,17,6012,1575,223,70.540360,77.255195,351.333333,0.420670,0.475000,0.286754,2.943609
LT,0.128603,0.349374,16,6,1,118,4.939024,0.295664,0.014455,0.128603,0.349374,8,5767,1534,202,54.240818,68.620779,348.000000,0.413895,0.333333,0.285292,3.568966
NC,0.106083,0.324967,14,8,3,104,3.998473,0.256010,0.020433,0.106083,0.324967,18,5797,1527,164,64.677689,60.314719,359.333333,0.359050,0.512821,0.252967,2.927103
OB,0.102679,0.311276,16,14,7,105,3.885463,0.267816,0.012644,0.102679,0.311276,19,5704,1491,153,61.734532,58.810048,357.000000,0.357887,0.650000,0.255208,3.405850
SK,0.095952,0.317938,23,9,3,90,3.067265,0.239857,0.025060,0.095952,0.317938,28,5789,1504,145,56.820238,78.019106,355.333333,0.342579,0.575000,0.246627,3.806391
SS,0.148844,0.356190,12,7,1,105,4.950851,0.292439,0.022825,0.148844,0.356190,15,6018,1589,210,60.547086,71.726798,354.333333,0.425578,0.435897,0.276734,4.680000
WO,0.096280,0.319035,16,8,3,102,4.099476,0.275497,0.011921,0.096280,0.319035,24,5362,1503,158,52.411805,59.373810,357.333333,0.364697,0.615385,0.268417,1.902857

## 3. 모델학습

In [45]:
# 모델 모듈
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

stats=['START_SB', 'START_SF', 'START_ERR', 'START_R', 'START_ERA',
       'START_HIT_RATE', 'START_HR_RATE', 'HOLD', 'BF', 'PA', 'R',
       'ER', 'P_WHIP_RT', 'CB_WHIP_RT', 'INN', 'SLG','HIT_RATE' 'WINNING_RATE']

In [51]:
stats=['VS_real_SLG','VS_OBP','START_SB', 'START_SF', 'START_ERR', 'START_R', 'START_ERA',
       'START_HIT_RATE', 'START_HR_RATE', 'HOLD', 'PA', 'R',
       'P_WHIP_RT', 'CB_WHIP_RT', 'INN', 'SLG','HIT_RATE' ,'WINNING_RATE']

In [52]:
X_cols=stats
Y_col=['ERA']

### 랜덤포레스트 돌려보기

In [53]:
train_list=[train16,train17,train18,train19]
train4_list=[train789_6,train689_7,train679_8,train678_9]
test_list=[test16,test17,test18,test19]

In [63]:
#4개년 랜포 돌려보기
result=[]
for i in range(4):
    train=train_list[i];  test=test_list[i]
    X_train = train[X_cols]; Y_train = train[Y_col]
    X_test = test[X_cols]; Y_test = test[Y_col]

    model = RandomForestRegressor() 
    Y_train=Y_train.values.ravel()  #rf에서의 오류 없애기 위함
    model.fit(X_train, Y_train) 
    Y_predict = model.predict(X_test)

    r2=r2_score(Y_test, Y_predict)

    result.append(Y_test.assign(predict=Y_predict))
    result[i]['diff']=result[i]['ERA']-result[i]['predict']
    print(i+2016,">\tr2 :", r2,'\ttrain점수 :{:.3f}'.format(model.score(X_train,Y_train)),"\t차이합 :",abs(result[i]['diff']).sum())

2016 >	r2 : -0.40599744314268604 	train점수 :0.830 	차이합 : 8.340092220572394
2017 >	r2 : -0.991120906596924 	train점수 :0.858 	차이합 : 8.02289026895641
2018 >	r2 : -0.15001288444863126 	train점수 :0.827 	차이합 : 4.897595287529528
2019 >	r2 : -1.3468239861642184 	train점수 :0.818 	차이합 : 8.583389464933598

In [55]:
train19.corr()['ERA']

VS_real_SLG       0.374148
VS_OBP            0.327921
START_SB         -0.110007
START_SF          0.058953
START_ERR         0.359918
START_R           0.297525
START_ERA         0.221964
START_HIT_RATE    0.128939
START_HR_RATE     0.245847
VS_real_SLG       0.374148
VS_OBP            0.327921
HOLD             -0.283450
BF                0.181170
PA                0.270561
R                 0.330892
P_WHIP_RT         0.167748
CB_WHIP_RT        0.132263
INN              -0.138323
SLG               0.350391
WINNING_RATE     -0.388295
HIT_RATE          0.251251
ERA               1.000000
Name: ERA, dtype: float64

### 예측값과 실제값 차이

In [ ]:
# 예측값과 실제값의 시각화
plt.scatter(Y_test, Y_predict)
plt.xlabel("실제 값")
plt.ylabel("예측 값")

In [ ]:
print('2016 >',abs(result[0]['diff']).sum())
result[0]

In [ ]:
print('2017 >',abs(result[1]['diff']).sum())
result[1]

In [ ]:
print('2018 >',abs(result[2]['diff']).sum())
result[2]

In [ ]:
print('2019 >',abs(result[3]['diff']).sum())
result[3]